input[type="radio"] {
  display: none;
}

label.gender {
  margin-left: auto;
  margin-right: auto;
  position: relative;
  color: #fff;
  font-size: 1em;
  border: 3px solid #fff;
  border-radius: 5px;
  padding: 0.5em 0.5em;
  display: flex;
  align-items: center;
  cursor: pointer;
}

input[type="radio"]:checked + label.gender {
  border-color: #845feb;
  color: #845feb;
}
