* {
  padding: 0;
  margin: 0;
  font-family: "Century Gothic", "CenturyGothic", "AppleGothic", sans-serif !important;
  box-sizing: border-box;
}

html {
  width: 100%;
  height: 100%;
}

body {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.479);
  position: relative;
}

body::-webkit-scrollbar {
  width: 7px;
  background-color: transparent;
}

body::-webkit-scrollbar-thumb {
  background-color: #5d2aeb;
  border-radius: 15px;
}

html::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: rgb(0, 0, 0);
  opacity: 0.7;
  z-index: -1;
}

.mega-div-container {
  background: linear-gradient(37deg, #b436d5, #5d2aeb, #0b0f3e);
  width: 100%;
  height: 100%;
  min-width: 1280px;
  position: relative;
  position: fixed;
}

.mega-div-container::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  min-width: 1280px;
  background-color: black;
  opacity: 0.75;
  position: fixed;
}

#background-imge-dreams {
  opacity: 0.4;
  width: 100%;
  height: 100%;
}
.mein-container {
  width: 40%;
  height: 90%;
  position: absolute;
  top: 5%;
  left: 30%;
}

#logo {
  width: 40%;
}

.Introduction,
.Logo {
  text-align: center;
  color: #fff;
}

.Introduction {
  margin-top: 30px;
}

.Logo {
  padding-bottom: 1%;
  padding-top: 1%;
  margin-top: 50px;
}

form {
  color: #fff;
  padding: 1em 1.5em 2.5em 2em;
  margin-top: 2em;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  height: 80%;
  position: absolute;
}

label {
  text-align: left;
  font-weight: bolder;
  font-size: 1em;
}

div .datos {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 3%;
}

form input {
  font-size: 12pt;
}

form .datos input {
  margin-bottom: 2.5%;
  margin-top: 2.5%;
  font-size: 118%;
  width: 100%;
  height: 30px;
  border: none;
  border-radius: 5px;
  padding: 4%;
  font-size: 11pt;
  outline: none;
}

form .datos_button {
  display: flex;
  margin: 0 auto;
  padding: 5%;
}

#inicio {
  margin-top: 1.5em;
  text-align: center;
}

a.inicio {
  color: #fffa;
}

a.login {
  font-size: 1.1em;
  padding-right: 2%;
  float: right;
}

a.login {
  text-decoration: none;
  font-weight: bold;
}

a.login:link {
  color: #845feb;
}

a.login:active {
  transform: scale(0.9);
}

a.login:visited {
  color: #845feb;
}

.GenderType {
  margin: 0 auto 0 auto;
}

.registrarse {
  width: 100%;
  height: 15%;
  display: flex;
  align-items: center;
  justify-content: center;

  margin-top: 1vh;
  color: #845feb;
}

.registrarse a {
  background-color: white;
  width: 80%;
  height: 50%;
  border-radius: 15px;
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;

  border: #845feb 3px solid;
}

.registrarse a:hover {
  background-color: #845feb;
  color: white;
  transition: 0.2s;
}

/*------ Footer -----*/

footer {
  position: absolute;
  width: 100%;
  /*---*/
  background-color: black;
  height: 350px;
  margin-top: 87vh;
  padding: 40px 50px;
}

footer img {
  width: 200px;
}

.box-footer {
  width: 100%;
  display: flex;
  margin-top: 5vh;
}

.box-footer h3 {
  color: rgb(189, 189, 189);
}

.box-footer div {
  width: 33%;
  padding: 20px;
}

.box-footer:nth-child(-n + 2) div {
  border-left: 1px solid rgb(189, 189, 189);
}

.box-footer h4 {
  color: white;
  margin-top: 20px;
}

.box-footer h4:hover {
  color: #7443ed;
  transition: 0.5s;
  cursor: pointer;
}


.respuesta{
  width: 80%;
  margin: 20px auto;
  background-color: rgba(255, 255, 255, 0.596);
  text-align: center;
  padding: 10px 0px;
}
