@use "variables" as v;

h1,
h2,
h3 {
  font-family: v.$fuente_headings;
  margin: 0 0 calc(v.$separacion / 2) 0;
  font-weight: 900;
}
h1 {
  font-size: 6rem;
}
h2 {
  font-size: 5rem;
}
h3 {
  font-size: 4rem;
}
p {
  font-size: 2rem;
  color: v.$gris;
  line-height: 1.8;
}
.tagline {
  font-family: v.$fuente_headings;
  font-weight: 900;
  color: v.$negro;
  font-size: 3rem;
  text-align: center;
}
.descripcion-pagina {
  text-align: center;
}
