@use "base/variables" as v;
@use "base/mixins" as m;

.barra-mobile {
	background-color: v.$indigo;
	padding: 2rem 4rem;
	display: flex;
	justify-content: space-between;
	align-items: center;
	@include m.tablet {
		display: none;
	}

	h1 {
		color: v.$blanco;
		margin: 0;
	}
	.menu {
		img {
			width: 0.8rem;
			cursor: pointer;
		}
	}
}

.barra {
	display: none;

	@include m.tablet {
		background-color: v.$blanco;
		padding: 1rem 2rem;
		box-shadow: 1px 12px 9px -13px rgb(0, 0, 0, 0.4);
		display: flex;
		justify-content: space-between;
		align-items: center;
	}

	p {
		margin: 0;
		font-size: 1.6rem;
		text-align: center;

		span {
			font-weight: 700;
			color: v.$indigo;
		}
	}

	.cerrar-sesion {
		@include m.boton(darken(v.$indigo, 20%), v.$blanco);
		font-size: 1.2rem;
		padding: 1rem;
		border-radius: 0.5rem;
	}
}
