@use "base/variables" as v;
@use "base/mixins" as m;

.no-proyectos {
	a {
		color: v.$indigo;
	}
}

.listado-proyectos {
	list-style: none;
	padding: 0;
	margin-top: 3rem;

	@include m.grid(1, 2rem);

	@include m.tablet {
		@include m.grid(2, 2rem);
	}

	@include m.desktop {
		@include m.grid(3, 2rem);
	}

	.proyecto {
		background-color: lighten(v.$indigo, 5%);
		min-height: 12rem;
		display: flex;
		align-items: center;
		padding: 2rem;
		line-height: 1.5;
		border-radius: 0.5rem;

		color: v.$blanco;
		&:hover {
			background-color: darken(v.$indigo, 5%);
		}
	}
}
