@use "base/variables" as v;
@use "base/mixins" as m;

.sidebar {
	opacity: 0;
	background-color: v.$indigo;
	height: 0;
	overflow: hidden;
	transition-property: opacity;
	transition-duration: 500ms;

	&.mostrar {
		opacity: 1;
		padding: 2rem;
		height: 100%;
		position: fixed;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		background-color: rgb(0 0 0 / 0.85);
		backdrop-filter: blur(15px);
		@include m.tablet {
			display: none;
		}
	}

	&.ocultar {
		opacity: 0;
	}

	@include m.tablet {
		height: 100%;
		opacity: 1;
		padding: 2rem;
		background-color: v.$indigo;
	}

	.contenedor-sidebar {
		display: flex;
		justify-content: space-between;
		align-items: center;

		h2 {
			color: v.$blanco;
			margin: 0;
			text-align: center;
		}
		.cerrar-menu {
			display: flex;
			justify-content: center;
			height: 2rem;
			width: 2rem;
			img {
				cursor: pointer;
			}
			@include m.tablet {
				display: none;
			}
		}
	}

	.sidebar-nav {
		margin-top: 5rem;
		a {
			color: v.$blanco;
			display: block;

			padding: 0.7rem;
			transition-property: background-color;
			transition-duration: 300ms;
			text-transform: uppercase;
			font-weight: bold;
			font-size: 2.4rem;
			text-align: center;
			margin-bottom: 2rem;

			&:hover,
			&.activo {
				background-color: darken(v.$indigo, 20%);
				border-radius: 0.5rem;
			}

			@include m.tablet {
				font-size: 1.2rem;
				text-align: initial;
				margin-bottom: 1rem;
			}
		}
	}

	.cerrar-session-mobile {
		margin-top: 10rem;

		.cerrar-sesion {
			@include m.boton(v.$indigo, v.$blanco);
		}

		@include m.tablet {
			display: none;
		}
	}
}
