@use "base/variables" as v;
@use "base/mixins" as m;

.acciones {
  margin-top: 5rem;

  @include m.tablet {
    display: flex;
    justify-content: space-between;
  }

  a {
    display: block;
    text-align: center;
    margin: 1.5rem;
    color: v.$negro;
    &:last-of-type {
      margin-bottom: 0;
    }
  }
}
