@use "variables" as v;

/** Media Queries **/
@mixin telefono {
    @media (min-width: v.$telefono) {
        @content;
    }
}
@mixin tablet {
    @media (min-width: v.$tablet) {
        @content;
    }
}
@mixin desktop {
    @media (min-width: v.$desktop) {
        @content;
    }
}
@mixin xl_desktop {
    @media (min-width: v.$xl_desktop) {
        @content;
    }
}

@mixin boton($bgColor, $colorTexto) {
    background-color: $bgColor;
    padding: 1.5rem 4rem;
    color: $colorTexto;
    font-size: 1.8rem;
    font-weight: 700;
    border: none;
    transition-property: background-color;
    transition-duration: 0.3s;
    text-align: center;
    width: 100%;
    display: inline-block;

    &:hover {
        background-color: darken($bgColor, 10%);
        cursor: pointer;
    }
}

@mixin grid($columnas, $espaciado) {
    display: grid;
    gap: $espaciado;
    grid-template-columns: repeat($columnas, 1fr);
}

@mixin contenedor {
    // max-width: 120rem;
    // width: 95%;
    width: min(95%, 140rem);
    margin: 0 auto;
}

@mixin contenedor-md {
    width: min(95%, 80rem);
    margin: 0 auto;
}

@mixin contenedor-sm {
    width: min(95%, 60rem);
    margin: 0 auto;
}

@mixin headings {
    font-family: v.$fuente-principal;
    font-weight: v.$black;
    margin: 2rem 0;
}

@mixin nombre-pagina {
    @include headings;
    margin: 6rem 0 3rem 0;
    text-align: center;
}

@mixin descrip-page {
    text-align: center;
    font-size: 1.8rem;
    font-size: v.$delgada;
    color: v.$gris-oscuro;
    margin-bottom: 5rem;
}

@mixin text-fluid($min, $max) {
    font-size: clamp($min, -0.8rem + 10vw, $max);
}

@mixin text-degradado($inicio, $final) {
    background: linear-gradient(to right, $inicio, $final);
    background-clip: text;
    color: transparent;
}

@mixin logo {
    color: v.$blanco;
    text-align: center;
    margin-bottom: 2rem;
    @include desktop {
        text-align: left;
        margin: 0;
    }
}

@mixin menu-social($color, $size) {
    &__enlace {
        &::before {
            color: $color;
            font-size: $size;
            display: inline-block;
            font-style: normal;
            text-rendering: auto;
            -webkit-font-smoothing: antialiased;
            font-family: "Font Awesome 6 Brands";
        }

        &[href*="https://facebook.com"]::before
        {
            content: "\f39e";
        }
        &[href*="https://github.com"]::before
        {
            content: "\f09b";
        }

        &[href*="https://tiktok.com"]::before
        {
            content: "\e07b";
        }
        &[href*="https://instagram.com"]::before
        {
            content: "\f16d";
        }
        &[href*="https://youtube.com"]::before
        {
            content: "\f167";
        }
        &[href*="https://twitter.com"]::before
        {
            content: "\f099";
        }
    }

    &__ocultar {
        display: none;
    }
}

@mixin enlace {
    color: v.$blanco;
    font-size: 1.4rem;
    text-transform: uppercase;
    font-weight: v.$bold;
    background-color: transparent;
    border: none;

    &:hover {
        color: v.$azul;
        cursor: pointer;
    }
}

@mixin shadow {
    box-shadow: rgba(0, 0, 0, 0.08) 0px 4px 12px;
}

@mixin reset-list {
    margin: 0;
    padding: 0;
    list-style: none;
}

@mixin tags {
    @include reset-list;

    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    margin-top: 1.5rem;

    > li {
        background-color: v.$azul;
        padding: 1rem;
        border-radius: 0.5rem;
        font-size: 1.5rem;
        color: v.$blanco;
        font-weight: v.$bold;
        transition-property: background-color;
        transition-duration: 0.3s;

        &:hover {
            cursor: pointer;
            background-color: lighten(v.$rojo, 10);
        }
    }
}

@mixin card {
    border: 1px solid lighten(v.$gris, 10);
    padding: 3rem;

    &__nombre {
        font-weight: v.$black;
        font-size: 2.6rem;
        margin: 2rem 0;
    }
}
