@use "base/variables" as v;
@use "base/mixins" as m;

.menu-redes {
    @include m.menu-social(v.$blanco, 2rem);
    display: flex;
    justify-content: center;
    gap: 2rem;
    margin: 4rem 0;

    @include m.tablet {
        justify-content: flex-end;
    }
}
