@use "base/variables" as v;
@use "base/mixins" as m;

.confirmar {
  margin-top: 5rem;
  .uptask {
    @include m.textoDegradado(v.$indigo);
  }

  .acciones {
    justify-content: center;

    a {
      color: v.$indigo;
    }
  }
}
