@use "base/mixins" as m;
@use "base/variables" as v;

.speakers {
    &__grid {
        @include m.contenedor;
        @include m.grid(1, 5rem);

        @include m.tablet {
            @include m.grid(2, 5rem);
        }

        @include m.xl_desktop {
            @include m.grid(3, 5rem);
        }
    }
}

.speaker {
    @include m.card;
    background-position: center top;
    background-size: 350px;
    background-repeat: no-repeat;

    @for $i from 1 through 4 {
        &:nth-child(4n + #{$i}) {
            background-image: image-set(url("../img/bg_#{$i}.webp") 1x, url("../img/bg_#{$i}.png") 1x);
        }
    }

    &__imagen {
        min-width: 350px;
        @include m.tablet {
            min-width: unset;
        }
    }

    &__nombre {
        font-size: 2.2rem;
        font-weight: v.$black;
    }

    &__ubicacion {
        color: v.$gris;
        margin: 1rem 0;
        font-size: 2rem;
        line-height: 1.5;
    }

    &__listado-skills {
        @include m.reset-list;
        @include m.tags;
    }

    &__skill {
        &:hover {
            background-color: darken(v.$azul, 10%) !important;
        }
    }
}

.speaker-sociales {
    @include m.menu-social(v.$negro, 3rem);
    display: flex;
    gap: 2rem;
    margin: 2rem;
}
