.alerta {
    padding: .8rem;
    text-align: center;
    color: $blanco;
    font-weight: bold;
    text-transform: uppercase;

    &.error {
        background-color: $rojo;
    }

    &.exito {
        background-color: $verde;
    }
}

table.propiedades {
    margin-top: 4rem;
    width: 100%;
    border-spacing: 0;

    thead {
        background-color: $verde;
        th {
            color: $blanco;
            padding: 2rem;
        }
    }

    .imagen-tabla {

        margin: 0 auto;
        width: 10rem;
    }
}

.imagen-small {
    width: 30rem;
    margin: 0 auto;
}