@use "base/variables" as v;
@use "base/mixins" as m;

.horas {
    @include m.reset-list;
    @include m.grid(1, 1rem);

    @include m.tablet {
        @include m.grid(2, 1rem);
    }

    &__hora {
        color: v.$azul;
        border: 1px solid v.$azul;
        border-radius: 1rem;
        padding: 1rem;
        text-align: center;

        &:hover {
            cursor: pointer;
            background-color: v.$azul;
            color: v.$blanco;
        }
    }
}
