body {
    font-family: Arial, sans-serif;
    background-color: lightcyan;
    margin: 0;
    padding: 20px;
    text-align: center;
}

h1 {
    color: #333;
}

#fileInputContainer {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    display: inline-block;
}

label {
    font-weight: bold;
    padding: 10px;
    border: 2px solid #3498db;
    border-radius: 5px;
    background-color: #3498db;
    color: #fff;
    cursor: pointer;
}

label:hover {
    background-color: #2980b9;
}

#fileInput {
    display: none; /* Ocultar el campo de entrada de archivo real */
}

#result {
    margin-top: 20px;
    font-weight: bold;
}

.valid {
    color: green;
}

.invalid {
    color: red;
}