body {
    font-family: sans-serif;
    margin: 0;
    padding: 0;
  }
  
  .container {
    width: 500px;
    margin: 0 auto;
  }
  
  h1 {
    text-align: center;
  }
  
  input {
    width: 200px;
    margin-bottom: 10px;
  }
  
  select {
    width: 200px;
    margin-bottom: 10px;
  }
  
  button {
    background-color: #000;
    color: #fff;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
  }
  
  .area-texto {
    width: 200px;
    margin: 10px 0;
  }
  
  #txtDefinicion {
    font-size: 16px;
    line-height: 20px;
  }