@use "base/mixins" as m;
@use "base/variables" as v;

.bloques {
    @include m.contenedor;
    @include m.tablet {
        margin-top: 10rem;
    }

    &__grid {
        @include m.grid(1, 3rem);

        @include m.tablet {
            @include m.grid(2, 3rem);
        }
    }
}

.bloque {
    padding: 2rem;
    color: v.$blanco;
    border-radius: 1rem;

    &:nth-child(1) {
        @include m.bg-gradient(#f97316);
    }
    &:nth-child(2) {
        @include m.bg-gradient(#a855f7);
    }

    &__heading {
        margin: 1rem 0 2rem 0;
        font-size: 3.6rem;
    }

    &__texto {
        margin: 1rem 0;

        &--cantidad {
            margin-top: 5rem;
            font-weight: v.$black;
            font-size: 6rem;
            text-align: center;
        }
    }
}
