@use "base/mixins" as m;
@use "base/variables" as v;

.dashboard {
    height: 100%;
    display: flex;
    flex-direction: column;
    background-color: v.$gris-claro;

    &__header {
        background-color: v.$gris-oscuro;
        padding: 2rem;
    }

    &__header-grid {
        display: flex;
        flex-direction: column;

        @include m.tablet {
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
        }
    }

    &__logo {
        @include m.logo;
        @include m.text-fluid(2rem, 3rem);
    }

    &__nav {
    }

    &__form {
        display: flex;
        justify-content: center;
    }

    &__submit--logout {
        @include m.enlace;
    }

    &__grid {
        display: flex;
        flex: 1;
    }

    &__sidebar {
        background-color: lighten(v.$gris-oscuro, 10);
        width: 12rem;
    }

    &__menu {
        padding: 1rem;
        display: flex;
        flex-direction: column;
        gap: 2rem;
    }

    &__enlace {
        color: lighten(v.$gris-oscuro, 40);
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 1.8rem;
        transition:
            200ms background-color ease-in-out,
            200ms color ease,
            200ms border-radius ease;

        &:hover,
        &--actual {
            background-color: lighten(v.$gris-oscuro, 20);
            color: v.$blanco;
            border-radius: 1rem;
        }
    }

    &__icon {
        font-size: 2rem;
    }

    &__menu-texto {
        font-size: 1.2rem;
        text-transform: uppercase;
        font-weight: v.$bold;
        margin-top: 1rem;
    }

    &__contenido {
        padding: 1rem 1rem 3rem 1rem;
        width: 100%;
        @include m.tablet {
            padding: 1rem 5rem 3rem;
        }
    }

    &__contenedor-btn {
        @include m.tablet {
            display: flex;
            justify-content: flex-end;
            margin-bottom: 4rem;
        }
    }

    &__btn {
        @include m.boton(v.$azul, v.$blanco);
        text-transform: uppercase;
        font-size: 1.4rem;

        @include m.tablet {
            width: auto;
        }
    }

    &__contenedor {
        @include m.shadow;
        background-color: v.$blanco;
        padding: 2rem;
    }

    &__formulario {
        @extend .dashboard__contenedor;
        @include m.contenedor-md;
        border-radius: 0.5rem;
    }
}
