@use "base/variables" as v;
@use "base/mixins" as m;

.paginacion {
    margin-top: 5rem;
    margin-bottom: 3rem;
    display: flex;
    gap: 1rem;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;

    @include m.tablet {
        justify-content: flex-end;
    }

    &__enlace {
        color: v.$azul;
        font-size: 1.6rem;
        padding: 0.4rem 0.8rem;

        &--texto {
            padding: 1rem;
            border-radius: 0.5rem;
            border: 1px solid v.$azul;
            transition:
                200ms background-color ease-in-out,
                200ms color ease;

            &:hover {
                background-color: v.$azul;
                color: v.$blanco;
            }
        }

        &--numero {
            font-weight: v.$bold;
            display: none;
            @include m.tablet {
                display: block;
            }
        }

        &--actual {
            color: v.$blanco;
            border-radius: 10rem;
            background-color: v.$azul;
            font-weight: v.$bold;

            display: none;
            @include m.tablet {
                display: block;
            }
        }
    }
}
