@use "base/variables" as v;
@use "base/mixins" as m;

.listado-ponentes {
    @include m.reset-list;
    @include m.grid(1, 1rem);

    &__ponente {
        color: v.$azul;
        border: 1px solid v.$azul;
        padding: 1rem;
        border-radius: 1rem;
        text-align: center;

        &:hover,
        &--selected {
            color: v.$blanco;
            background-color: v.$azul;
            cursor: pointer;
        }
    }
}
