/*FUENTES*/
@font-face {
    font-family: 'Century';
   src: url(../fonts/Fuente/CenturyGothicPaneuropeanSemiBold.ttf) format('OpenType');
    font-style: normal;
    font-weight: normal;
}
@font-face {
    font-family: 'Bold';
   src: url(../fonts/Fuente/CenturyGothicPaneuropeanBold.ttf) format('OpenType');
    font-style: normal;
    font-weight: normal;
}
@font-face {
    font-family: 'Gotic';
   src: url(../fonts/Fuente/CenturyGothicPaneuropeanRegular.ttf) format('OpenType');
    font-style: normal;
    font-weight: normal;
}
*{
    overflow-x: hidden;
}
header{
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(../img/Fondo-azul.jpg);
    width: 100%;
    min-height: 100vh;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}

header h1{
    color: white;
    font-size: 3em;
    text-align: center;
}

.cabeza{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    width: 80%;
}


.cabeza img{
    width: 225px;
    border-right: 8px solid #fcc50a;
    padding-right: 70px;
}

.cabeza h1{
    margin-right:30px ;
    text-align: left;
    font-family: Century;
    overflow: hidden;
}
.parrafo{
    width: 100%;
    min-height: 40vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
a{
    text-decoration: none;
}
.parrafo div{
    width: 90%;
    height: 95%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.parrafo div p{
    text-align: justify;
}
/*CARTAS*/
article{
    margin-top: 20px;
    margin-bottom: 20px;
    background-image: url(../img/Fondo-azul.jpg);
    background-position: center;
    background-size: cover;
}
.cartas{
    padding: 10px;
    width: 100%;
    min-height: 50vh;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    background: linear-gradient(-90deg, white 90%, #000643 0%);
}
.card{
    width: 80%;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    border: none;
    background: transparent;
    margin-left: 50px;
}
.card-img{
    width: 50%;
    height: 22.1em;
    z-index: 1;
}
.card-img img{
    width: 100%;
    height: 100%;
}
.card-nombre h1, .card-nombre h2{
    opacity: 0;
    transition: 1.5s all ease-in;
    
}
.card-nombre h1{
    border-bottom: 3px solid #fcc50a;
    padding: 15px 0px;
    font-size: 45px;
    color: white;
    font-family: "Bold";
    text-align: center;
}
.card-nombre h2{
    font-size: 20px;
    color: white;
    padding: 10px;
    font-family: "Gotic";
    text-align: center;
}
.card-nombre{
    width: 50%;
    height: 22.1em;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    margin-left: -70%;
    transition: 0.8s all ease-in;
    background-color: #000643;
    padding: 10px;
}
.card:hover .card-nombre{
    margin-left: 0%;
    transition: 0.8s all ease-in;
}
.card:hover .card-nombre h1, .card:hover .card-nombre h2{
    opacity: 1;
    transition: 1.5s all ease-in;
}

/*V2*/
.cartas2{
    padding: 10px;
    width: 100%;
    min-height: 50vh;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
    background: linear-gradient(90deg, white 90%, #fcc50a 0%);
}
.card2{
    margin-right: 50px;
    width: 80%;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: flex-end;
    border: none;
}
.card-img2{
    width: 50%;
    height: 22.1em;
    z-index: 1;
}
.card-img2 img{
    width: 100%;
    height: 100%;
}
.card-nombre2 h1, .card-nombre2 h2{
    opacity: 0;
    transition: 1.5s all ease-in;
    
}
.card-nombre2 h1{
    border-bottom: 3px solid white;
    padding: 15px 0px;
    font-size: 45px;
    color: #000643;
    font-family: "Bold";
    text-align: center;
}
.card-nombre2 h2{
    font-size: 20px;
    color: #000643;
    padding: 10px;
    font-family: "Gotic";
    text-align: center;
}
.card-nombre2{
    width: 50%;
    height: 22.1em;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    margin-right: -70%;
    transition: 0.8s all ease-in;
    background-color: #fcc50a;
    padding: 10px;
}
.card2:hover .card-nombre2{
    margin-right: 0%;
    transition: 0.8s all ease-in;
}
.card2:hover .card-nombre2 h1, .card2:hover .card-nombre2 h2{
    opacity: 1;
    transition: 1.5s all ease-in;
}
/*FOOTER*/
footer{
    position: relative;
    bottom: 0;
    left: 0;
    right: 0;
    background: #111;
    height: auto;
    width: 100%;
    font-family: "cocon";
    padding-top: 40px;
    color: #fff;
}
.footer-content{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}
.footer-content h3{
    font-size: 1.8rem;
    font-weight: 400;
    text-transform: capitalize;
    line-height: 3rem;
    font-family: Century;
}
.footer-content p{
    max-width: 500px;
    margin: 10px auto;
    line-height: 28px;
    font-size: 14px;
    font-family: "Gotic";
}
.socials{
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1rem 0 3rem 0;
}
.socials li{
    margin: 0 10px;
}
.socials a{
    text-decoration: none;
    color: #fff;
}
.socials a i{
    font-size: 1.1rem;
    transition: color .4s ease;

}
.socials a:hover i{
    color: aqua;
}

.footer-bottom{
    background: #000;
    width: 100%;
    padding: 20px 0;
    text-align: center;
}
.footer-bottom p{
    font-size: 14px;
    word-spacing: 2px;
    text-transform: capitalize;
    font-family: "Gotic";
}
.footer-bottom p a{
        font-size: 14px;
        word-spacing: 2px;
        text-transform: capitalize;
        text-decoration: none;
        cursor: pointer;
    color: #fff;
    font-weight: 200;
}
.footer-bottom span{
    text-transform: uppercase;
    opacity: .4;
    font-weight: 200;
}
