@use "base/mixins" as m;
@use "base/variables" as v;

.eventos-registro {
    & > :nth-child(2) {
        order: -1;
    }

    @include m.contenedor;
    @include m.tablet {
        display: flex;
        align-items: flex-start;
        gap: 2rem;
    }

    &__grid {
        @include m.grid(1, 3rem);
        @include m.tablet {
            @include m.grid(2, 3rem);
        }
    }

    &__listado {
        @include m.tablet {
            flex: 0 0 60%;
        }
    }

    &__heading {
        &--conferencias,
        &--workshops {
            white-space: nowrap;
            @include m.text-fluid(2rem, 5rem);
        }

        &--conferencias {
            color: v.$azul;
        }
        &--workshops {
            margin-top: 5rem;
            color: v.$secundario;
        }
    }

    &__fecha {
        margin: 6rem 0 3rem;
        font-size: 2.2rem;
    }
}

.registro {
    background-color: v.$gris-claro;
    padding: 3rem;
    border-radius: 1rem;

    @include m.tablet {
        flex: 0 0 40%;
        position: -webkit-sticky;
        position: sticky;
        top: 3rem;
    }

    &__heading {
        margin: 0 0 3rem 0;
    }

    &__evento {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 1rem;
        &:nth-child(even) {
            background-color: darken(v.$gris-claro, 3);
        }
    }

    &__nombre {
        font-size: 2rem;
        font-weight: v.$bold;
        margin: 1rem;
    }

    &__eliminar {
        all: unset;
        color: v.$rojo;

        &:hover {
            cursor: pointer;
        }
    }
}
