@use "base/mixins" as m;
@use "base/variables" as v;

@media (prefers-color-scheme: dark) {
    $grisOscuro: #2c2c3b;

    body {
        background-color: $grisOscuro;
    }

    .tagline,
    .formulario label,
    .login .acciones a,
    .crear .acciones a,
    .olvide .acciones a {
        color: v.$blanco;
    }

    .descripcion-pagina,
    .formulario .campo input,
    .nombre-pagina {
        color: v.$grisClaro;
    }

    .formulario .campo input {
        background-color: lighten($grisOscuro, 15%);
        &::placeholder {
            color: darken(v.$grisClaro, 30%);
        }
    }

    .alerta.error {
        background-color: v.$blanco;
    }

    .sidebar {
        @include m.tablet {
            background-color: darken($grisOscuro, 5%);
        }

        .sidebar-nav a {
            &.activo,
            &:hover {
                background-color: v.$naranja;
            }
        }
    }

    .barra-mobile,
    .barra {
        background-color: darken($grisOscuro, 7%);
    }

    .barra {
        p {
            color: v.$naranja;
            span {
                color: v.$grisClaro;
            }
        }

        .cerrar-sesion {
            @include m.boton(v.$naranja, v.$blanco);
            padding: 1rem;
            font-size: 1.2rem;
        }
    }

    #filtros {
        background-color: lighten($grisOscuro, 10%);
        h2,
        label {
            color: v.$blanco;
        }
        input[type="radio"] {
            accent-color: v.$naranja;
        }
    }

    .dashboard {
        background-color: $grisOscuro;

        .enlace {
            color: v.$grisClaro;

            &:hover {
                color: darken(v.$grisClaro, 20%);
            }
        }

        .formulario input:not([type="submit"]) {
            background-color: lighten($grisOscuro, 20%);
            color: v.$blanco;
            &::placeholder {
                color: darken(v.$grisClaro, 30%);
            }
        }
    }

    .listado-proyectos .proyecto {
        background-color: lighten($grisOscuro, 20%);

        &:hover {
            background-color: lighten($grisOscuro, 10%);
        }
    }
    #listado-tareas .tarea {
        background-color: lighten($grisOscuro, 20%);
        border: none;

        p {
            color: v.$grisClaro;
        }
    }

    .modal .formulario {
        background-color: $grisOscuro;

        input[type="text"] {
            background-color: lighten($grisOscuro, 20%);
            border: none;
            color: v.$blanco;

            &::placeholder {
                color: darken(v.$grisClaro, 20%);
            }
        }

        legend {
            color: v.$grisClaro;
        }
    }
}
